In [1]:
import pandas as pd
old='/labs/shahlab/projects/agataf/data/pooled_cohorts/cohort_extraction/all_cohorts_test_eval.csv'
df = pd.read_csv(old)

In [2]:
nums = df.groupby('grp').count().person_id.values

print(str(sum(nums)) + ' individuals: ' +  str(nums[0]) + ' Black women, ' 
      + str(nums[1]) + ' White women, ' 
      + str(nums[2]) + ' Black men and ' 
      + str(nums[3]) + ' White men ')

25619 individuals: 5354 Black women, 8765 White women, 3848 Black men and 7652 White men

In [3]:
df.columns

Index(['person_id', 'cohort_idx', 'cohort_pid', 'age', 'race_black',
       'gender_male', 'grp', 'hdlc', 'ldlc', 'trigly', 'totchol', 'sysbp',
       'cursmoke', 'diabt126', 'unrxsbp', 'rxsbp', 'study', 'ascvd_10yr',
       'censored_10yr', 'event_time_10yr', 'bmi', 'event_time',
       'event_indicator', 'fold_id'],
      dtype='object')

In [6]:
numbers = df.groupby(['study', 'grp']).count().person_id

means = (df
         .groupby(['grp'])
         .mean()
         .filter(['age', 'ascvd_10yr', 'censored_10yr', 'event_time_10yr'])
         .round(4)
         .reset_index()
        )

means_all = (df
             .assign(grp='all')
             .groupby(['grp'])
             .mean()
             .filter(['age', 'ascvd_10yr', 'censored_10yr', 'event_time_10yr'])
             .round(3)
             .reset_index()
            )


means = pd.concat([means, means_all]).reset_index()#.set_index(['grp']).sort_values(by='study')

counts = (df
          .groupby('grp')
          .count()
          .filter(['person_id'])
          .rename(columns={'person_id': 'n'})
          .reset_index()
          .append({'n': df.count().person_id, 'grp': 'all'}, ignore_index=True)
          .reset_index()
         )

(means.assign(counts=counts.n).filter(['grp', 'counts', 'age', 'ascvd_10yr', 'censored_10yr'])
 .rename(columns={'grp': 'group'})
 .assign(group = lambda x: x.group.map({1: 'Black women', 2: 'White women',
                                       3: 'Black men', 4: 'White men', 'all': 'all'}))
)

         group  counts      age  ascvd_10yr  censored_10yr
0  Black women    5354  55.5064      0.0564         0.1005
1  White women    8765  57.1457      0.0596         0.0620
2    Black men    3848  56.2921      0.0772         0.1247
3    White men    7652  56.5156      0.1032         0.0732
4          all   25619  56.4870      0.0750         0.0830

In [5]:
numbers = df.groupby(['study', 'grp']).count().person_id

means = (df
         .groupby(['grp', 'study'])
         .mean()
         .filter(['age', 'ascvd_10yr', 'censored_10yr', 'event_time_10yr'])
         .round(3)
         .reset_index()
        )

means_all = (df
             .assign(grp='all')
             .groupby(['grp','study'])
             .mean()
             .filter(['age', 'ascvd_10yr', 'censored_10yr', 'event_time_10yr'])
             .round(3)
             .reset_index()
            )


means = pd.concat([means, means_all]).reset_index()#.set_index(['grp']).sort_values(by='study')

counts = (df
          .groupby(['study', 'grp'])
          .count()
          .filter(['person_id'])
          .rename(columns={'person_id': 'n'})
          .reset_index()
          .append({'n': df.count().person_id, 'grp': 'all'}, ignore_index=True)
          .reset_index()
         )

means.assign(counts=counts.n).set_index(['grp', 'study', ]).filter(['counts', 'age', 'ascvd_10yr', 'censored_10yr'])

             counts     age  ascvd_10yr  censored_10yr
grp study
1   ARIC     1812.0  53.172       0.058          0.065
    CARDIA   4815.0  43.026       0.043          0.082
    CHS      1216.0  70.778       0.209          0.155
    FHS_OS   4383.0  44.667       0.000          0.000
    JHS       232.0  51.403       0.030          0.150
    MESA      289.0  60.119       0.048          0.093
2   ARIC      153.0  53.892       0.026          0.033
    CARDIA    333.0  42.740       0.010          0.062
    CHS       316.0  70.659       0.176          0.156
    FHS_OS   1836.0  46.394       0.030          0.018
    MESA      186.0  60.993       0.044          0.065
3   ARIC     1164.0  53.788       0.095          0.100
    CARDIA      6.0  42.660       0.039          0.144
    CHS       822.0  70.468       0.226          0.285
    FHS_OS      6.0  45.333       0.000          0.000
    JHS       850.0  51.111       0.043          0.141
    MESA     1310.0  60.492       0.066          0.115
4   ARIC      751.0  54.524       0.072          0.049
    CARDIA   1678.0  42.541       0.024          0.069
    CHS      1003.0  71.022       0.277          0.173
    FHS_OS   1536.0  47.069       0.092          0.039
    MESA      922.0  61.425       0.072          0.098
all ARIC    25619.0  54.001       0.054          0.050
    CARDIA      NaN  42.728       0.027          0.081
    CHS         NaN  70.780       0.215          0.168
    FHS_OS      NaN  46.725       0.061          0.029
    JHS         NaN  51.296       0.034          0.147
    MESA        NaN  60.636       0.057          0.095

In [132]:
# stds = df.groupby(['study', 'grp']).std().filter(['age', 'ascvd_10yr', 'censored_10yr', 'event_time_10yr']).round(3)

# lower = means-1.96*stds
# higher = means+1.96*stds
#ranges = ''.join(('(', lower, ',', higher, ')'))

                age  ascvd_10yr  censored_10yr  event_time_10yr
study  grp
ARIC   1    64.4008      0.5108         0.5600          12.7336
       2    65.0816      0.3436         0.3828          12.1800
       3    65.4912      0.6584         0.6880          13.4220
       4    65.6724      0.5796         0.4812          12.9584
CARDIA 1    46.6168      0.4320         0.6092          12.5972
       2    46.1896      0.2060         0.5304          11.4176
       3    46.1488      0.4124         0.8260          12.7312
       4    46.0288      0.3140         0.5600          12.1696
CHS    1    78.1692      1.0136         0.8656          13.7408
       2    77.7944      0.9248         0.8656          13.4620
       3    77.4280      1.0532         1.1620          13.6488
       4    78.0564      1.1620         0.9148          13.8468
FHS_OS 1    51.8632      0.0000         0.0000          10.0000
       2    55.7000      0.3632         0.2748          12.1512
       3    51.6020      0.0000         0.0000          10.0000
       4    57.3600      0.6584         0.4124          12.9676
JHS    1    68.0796      0.3632         0.8556          12.7028
       3    67.7112      0.4320         0.8260          12.7312
MESA   1    78.7204      0.4616         0.6584          12.9572
       2    79.9040      0.4320         0.5500          12.5296
       3    79.5020      0.5600         0.7472          13.1112
       4    80.5988      0.5796         0.6880          13.0236