In [ ]:
old='/labs/shahlab/projects/agataf/data/pooled_cohorts/cohort_extraction/all_cohorts_0.2test.csv'
#df = pd.read_csv(old)

result = {}
for (grp_name, grp_df) in df.query("(fold_id=='test') | (fold_id=='eval')").groupby(['censored_10yr', 'ascvd_10yr', 'race_black', 'gender_male', 'study']):
    print(grp_df.shape)
    n_test = int(grp_df.shape[0]/2)
    n_val = grp_df.shape[0]-int(grp_df.shape[0]/2)
    ns = [n_test, n_val]
    random.shuffle(ns)
    folds = ['test']*ns[0]+['eval']*ns[1]
    random.shuffle(folds)
    
    #folds = [random.choice(['eval', 'test']) for el in range(grp_df.shape[0])]
    result[grp_name] = grp_df.assign(fold_id=folds)

a = pd.concat(result, ignore_index=True).set_index('person_id')
#df.update(pd.DataFrame(a.fold_id))
a.reset_index().to_csv(old, index = False)
#df.update(pd.concat(result, ignore_index=True).fold_id)

In [105]:
(a.query("(fold_id=='test') | (fold_id=='eval')")
 .filter(['fold_id', 'grp', 'ascvd_10yr', 'censored_10yr'])
 .groupby(['fold_id', 'grp'])
 .mean()
)

             ascvd_10yr  censored_10yr
fold_id grp
eval    1      0.049541       0.100917
        2      0.060465       0.059302
        3      0.079692       0.115681
        4      0.099469       0.075597
test    1      0.061914       0.095685
        2      0.056257       0.061998
        3      0.080729       0.122396
        4      0.101183       0.070959

In [77]:
labels

['test',
 'test',
 'test',
 'val',
 'test',
 'val',
 'val',
 'val',
 'test',
 'val',
 'val',
 'test',
 'test',
 'val',
 'val',
 'test']

In [69]:
n_test = int(grp_df.shape[0]/2)